# pandasの練習

## DataFrameとSeriesを理解する

*DataFrame*

- メインとなるデータ構造で、二次元のテーブルを表す
- 単なる二次元のlistではなく、各行・各列に対して”平均気温”や”日照時間”など、「ラベル」を付与することができる

*Series*

- 一次元の配列で、二次元テーブルの列、行に相当する
- 単なる一次元のlistではなく、各要素に「ラベル」を付与することができる

### DataFrame/Seriesの作り方

In [11]:
import pandas as pd
import numpy as np

# series = pd.Series(data,index)
series = pd.Series([1,2,3],index=['a','b','c'])
print(series)

a    1
b    2
c    3
dtype: int64

In [17]:
# DataFrameを作成
foo =pd.DataFrame({'hoge':[1,2,3],'fuga':[4,5,6]}, index=['a','b','c'])
display(foo)

   hoge  fuga
a     1     4
b     2     5
c     3     6

In [19]:
# 列を追加する
foo['piyo'] = [7,8,9]
display(foo)

   hoge  fuga  piyo
a     1     4     7
b     2     5     8
c     3     6     9

In [22]:
# 行を追加する
foo = foo.append(pd.DataFrame({'hoge':[0,0],'fuga':[1,1],'piyo':[2,2]}, index=['d','e']))
display(foo)

   hoge  fuga  piyo
a     1     4     7
b     2     5     8
c     3     6     9
d     0     1     2
e     0     1     2

In [29]:
# 行および列を削除する
# drop(labels,axis)  行の場合はaxis=0
foo.drop('e',axis=0)

   hoge  fuga  piyo
a     1     4     7
b     2     5     8
c     3     6     9
d     0     1     2

In [30]:
# データの最初の２行を表示
foo.head(2)

   hoge  fuga  piyo
a     1     4     7
b     2     5     8

In [31]:
# 最後尾の２行を表示
foo.tail(2)

   hoge  fuga  piyo
d     0     1     2
e     0     1     2

In [33]:
# 2行目から4行目まで表示
foo[1:4]

   hoge  fuga  piyo
b     2     5     8
c     3     6     9
d     0     1     2